apiVersion: v1
kind: Config
clusters:
- name: "localhost"
  cluster:
    server: "https://192.168.2.34:8443/k8s/clusters/c-vgw24"
    api-version: v1
    certificate-authority-data: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM3akNDQ\
      WRhZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFvTVJJd0VBWURWUVFLRXdsMGFHVXQKY\
      21GdVkyZ3hFakFRQmdOVkJBTVRDV05oZEhSc1pTMWpZVEFlRncweE9ERXdNRFl3T1RRM01USmFGd\
      zB5T0RFdwpNRE13T1RRM01USmFNQ2d4RWpBUUJnTlZCQW9UQ1hSb1pTMXlZVzVqYURFU01CQUdBM\
      VVFQXhNSlkyRjBkR3hsCkxXTmhNSUlCSWpBTkJna3Foa2lHOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ\
      0tDQVFFQXhnM2EzMVI1dnRBajRqNHkKTVBpeXFnaDUvVVJMQ0hzUWhzK3NhSHpyZDVQQkxvaWFPM\
      kIxVlBIZDc4cHJIR1NWZGwxZkFNTjVabWNiODh0YwpMcEI1aVVHQnVuTlRzOXBIY09RNWgzQkdnQ\
      TdGbEVoSmsxYVdHdDBPVWpFV0hQVzhpSWRaWnVPZVlsYUtsRzBXCmxBcVNlZEErMHQ1R2VEWmNle\
      ExUM3gvK2poWkNkWFVSTC80OGZVSWp3clE1ZzNIdlcwN0FiV0JySW91L2hiUHIKblY5a25pbGJ6U\
      W8xa2lhSTF1SFU5d0JNUmtTNzRvcG1mVkNDdlBUL2Y2NVczYkdIRVVucTAvWWpGT1hsVEpUWgpvO\
      TJ5c3RCMDlUcXZQQzNFazRYYXpVVXFTUDNydk8xRkw0RjRqTXE3TnhKQ2xYTGh3ZEtac0RnYWo4e\
      XZiU3A2Ci9QY0lad0lEQVFBQm95TXdJVEFPQmdOVkhROEJBZjhFQkFNQ0FxUXdEd1lEVlIwVEFRS\
      C9CQVV3QXdFQi96QU4KQmdrcWhraUc5dzBCQVFzRkFBT0NBUUVBZys0aSsrR3Rvc0ZKNTltWDN4U\
      GhUeG5IVWIrRFBmWElRZ2dja29yNApxc3ZaNWp6K0RDNDVqQTdlUGNFYitXbXhRLzlVbVhsdTZyY\
      WVSS0RQMWJNVzVwZUp4Q3NaS3FNS0JFbFJxdHdDCnJBSE1WVEpYSzkwMlptaW1SeldwVHUrZXVOZ\
      mc5NHArRTB5SnZqSXBSL0poYVBNKy8yNEhGYjFaVDZlZk9OTzIKa1VkRmRBMWdFQlZibk4wcXBXN\
      DBCdHFMWlpGbloraTc2bERDOXJxRmVlSXVNaGpRWDVjWHQwSVplWENtbkRjKwpkbXo0VEhrKzdMT\
      ndBaUF5cGwxK21Ga1lXZUxrdnJOZWdMS0tqSzZMY0s1YTJ5UTdkUm8vSFB3MWE2R05Vdk5yCm5rY\
      lJ2cmlZQW5QaXgra2owN1hqYnVXUTJMYnFoSUhvOHVoRWo4MjZXdmpRUXc9PQotLS0tLUVORCBDR\
      VJUSUZJQ0FURS0tLS0t"

users:
- name: "user-sfj94"
  user:
    token: "kubeconfig-user-sfj94:6wfb6mwcns9cw2tgw9cpflzdw8bzffnnndclbg5mrsszsvwrlqrsbs"

contexts:
- name: "localhost"
  context:
    user: "user-sfj94"
    cluster: "localhost"

current-context: "localhost"
